.titles {
    font-family: 'TimeWarner', sans-serif;
    color: #4d5d91;
}

.readingFont {
    font-family: sans-serif;
}

.pageBackground {
    background-color: #4d5d91;
}

.underline {
    text-decoration: underline;
}
